<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Rafa\u0142 Gawlik">

  <title>AwesomeBlog</title>

  <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/clean-blog.min.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">AwesomeBlog</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li><a href="/user/{{ user.username }}">{{ user.username|striptags }}</a></li>
          <li><a href="/dashboard/">Kokpit</a></li>
          <li><a href="/logout/">Wyloguj</a></li>
          {% else %}
          <li><a href="/login/">Zaloguj</a></li>
          <li><a href="/register/">Zarejestruj</a></li>
          {% endif %}
        </ul>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header" style="background-image: url('{{ STATIC_URL }}img/fot_4.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h1>AwesomeBlog</h1>
            <!-- <hr class="small">
            <span class="subheading">Opisz siebie</span> -->
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        {% for entry in news %}
        <div class="post-preview" >
          <a href="{{ entry.blog.slug }}/{{ entry.id }}/">
            <h2 class="post-title">
              {{ entry.title|striptags }}
            </h2>
            <h4 class="post-subtitle">
              {{ entry.description|striptags }}
            </h4>
          </a>
          <p class="post-meta">Opublikowane przez
            <a href="/user/{{ entry.blog.user.username }}"> {% if entry.blog.user.first_name %} {{ entry.blog.user.first_name|striptags  }} {{ entry.blog.user.last_name|striptags  }} {% else %} {{ entry.blog.user.username|striptags  }} {% endif %}</a>
            z bloga <a href="/{{ entry.blog.slug }}">{{ entry.blog.name|striptags  }}</a>
            w dniu {{ entry.posted_date|date:"d.m.Y H:i" }}
          </p>
        </div>
        <hr>
        {% endfor  %}

      </div>
      <div class="col-lg-4">
        {% if user.is_authenticated %}
        {% else %}
        <button type="button" onClick="location.href='/register'" class="btn btn-primary btn-lg btn-block">Zacznij blogować</button>
        <hr/>
        {% endif %}

      </div>
    </div>
  </div>

  <!-- <hr> -->
  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row"> © 2015 Rafał Gawlik</div>
    </div>
  </footer>

  <!-- jQuery -->
  <script src="{{ STATIC_URL }}js/jquery.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="{{ STATIC_URL }}js/clean-blog.min.js"></script>

  <script src="{{ STATIC_URL }}js/js.js"></script>

  <!-- jQuery Version 1.11.0 -->
  <script src="{{ STATIC_URL }}dashboard/js/jquery-1.11.0.js"></script>

</body>

</html>
