<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ news.title|striptags }} | {{ news.blog.name|striptags }}</title>


  <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/clean-blog.min.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  <script src='https://www.google.com/recaptcha/api.js'></script>

  <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">AwesomeBlog</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li><a href="/user/{{ user.username }}">{{ user.username|striptags }}</a></li>
          <li><a href="/dashboard/">Kokpit</a></li>
          <li><a href="/logout/">Wyloguj</a></li>
          {% else %}
          <li><a href="/login/">Zaloguj</a></li>
          <li><a href="/register/">Zarejestruj</a></li>
          {% endif %}
        </ul>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header" style="background-image: url('{{ STATIC_URL }}img/post-bg.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="post-heading">
            <h1>{{ news.title|striptags }}</h1>
            <h2 class="subheading">{{ news.description|striptags  }}</h2>
            <span class="meta">Posted by
              <a href="/user/{{ entry.blog.user.username }}">{{ news.blog.user.first_name|striptags }} {{ news.blog.user.last_name|striptags }}</a>
              on {{ news.posted_date|date:"d.m.Y H:i" }}
              on blog <a href="/{{ news.blog.slug }}">{{ news.blog.name|striptags }}</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          {{ news.text|safe }}
          <hr>
          <!-- <ul class="list-inline text-center">
            <li>
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul> -->
          <form method="post" action="/{{ news.blog.slug }}/{{ news.id }}/">
            {% csrf_token %}

            {% if user.is_authenticated %}
              <h2 value="
                {% if user.first_name %}
                  {{ user.first_name|striptags }} {{ user.last_name|striptags }}
                {% else %}
                  {{ user.username|striptags }}
                {% endif %}">
                  @ {% if user.first_name %}
                    {{ user.first_name|striptags }} {{ user.last_name|striptags }}
                  {% else %}
                    {{ user.username|striptags }}
                  {% endif %}
              </h2>


              <div class="form-group">
                <label for="exampleInputEmail1">Komentarz: </label>
                  <textarea class="form-control" name="text_comment" rows="3"></textarea>
              </div>
              <p align="right">
                <button align="right" class="btn btn-info btn-xl btn-main-circle" value="Add post" type="submit">
                  <i class="fa fa-check"></i>
                </button>
              </p>
            {% else %}
              <center>
                <h3>Nie jesteś zalogowany by zostawić komentarz!</h3>
                <a href="/login">zaloguj się</a>
            </center>
            {% endif %}
          </form>
          <h2>Komentarze: </h2>
          {% for entry in comments %}
            <h3>
              <a href="/user/{{entry.user.username}}">
                @{% if entry.user.first_name %}
                  {{ entry.user.first_name|striptags }} {{ entry.user.last_name|striptags }}
                {% else %}
                  {{ entry.user.username|striptags }}
                {% endif %}
              </a>
            </h3>
            <br/>
            {{ entry.text }}
            <hr width="70%"/>
          {% endfor  %}
        </div>
      </div>
    </div>
  </article>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="row">
          <div class="col-lg-3">
            <center>
              <a href="http://www.projektniejest.pl/">
                <img width="90%" src="http://projektniejest.pl/wp-content/uploads/2014/10/300x150.jpg">
              </a>
            </center>
          </div>
        </div>
        <div class="row"> © 2015 Rafał Gawlik</div>
      </div>
    </div>
  </footer>



  <!-- jQuery -->
  <script src="{{ STATIC_URL }}js/jquery.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="{{ STATIC_URL }}js/clean-blog.min.js"></script>


  <!-- jQuery Version 1.11.0 -->
  <script src="{{ STATIC_URL }}dashboard/js/jquery-1.11.0.js"></script>



</body>

</html>
